*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

/* header section*/
.header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.header__title {
  font-size: 1.5rem;
  flex: 1;
  text-transform: uppercase;
}

.header__menu {
  display:flex;
  gap: 1rem;
  flex: 1;
  justify-content: center;
}

.header__link {
  text-decoration: none;
  color: #000
}

.header__btn-container {
  display: flex;
  gap: 1rem;
  flex: 1;
  justify-content: flex-end;
}

/* hero section*/

.hero {
  text-align: center;
  margin-top: 10rem;
}

.hero__title {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: -0.05em;
  max-width: 25ch;
  /* margin-inline: auto; */
}

.hero__description {
  font-size: 1.2rem;
  max-width: 60ch;
  margin: 2rem auto;
}

/* utility */
.btn {
  text-decoration: none;
  display: inline-block;
  background-color: #000;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.container {
  width: 90%;
  margin-inline: auto;
}
